<div class="container">
  <form action="/school/add" method="POST">
    <div class="form-group">
      <label for="inputSchoolName">Tên trường</label>
      <input type="text" name="school.name" class="form-control" id="inputSchoolName" placeholder="Vd: Đại học Bách Khoa...">
    </div>
    <div class="form-group">
      <label for="inputSchoolAddress">Địa chỉ</label>
      <input type="text" name="school.address" class="form-control" id="inputSchoolAddress" placeholder="Vd: 267/2 Điện Biên Phủ...">
    </div>
    <button type="submit" class="btn btn-default">Tạo mới</button>
  </form>
</div>
