<div class="ui container">
  <a href="/school" class="ui button">
    <i class="user icon"></i>
    Trường học
  </a>
  <a href="/major" class="ui button">
    <i class="sitemap icon"></i>
      Ngành
    </a>
  <a href="/job" class="ui button">
    <i class="industry icon"></i>
    Nghề
  </a>
  <a href="/image" class="ui button">
    <i class="image icon"></i>
    Nghề
  </a>
</div>

