<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <a href="/school" style="display: block; width: 100%;" class="btn btn-default">Trường học</a>
    </div>
    <div class="col-lg-6">
      <a href="/major"  style="display: block; width: 100%;" class="btn btn-default">Ngành</a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-6">
      <a href="/job" style="display: block; width: 100%;" class="btn btn-default">Nghề</a>
    </div>
  </div>
</div>
