<div class="ui container" ng-controller="schoolController">
  <h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Tạo trường 
  </h2>

  <form action="/school/add" method="POST" class="ui form">
    <div class="field">
      <label>Tên trường</label>
      <input type="text" name="school.name" placeholder="Ex: Đại học Bách Khoa ..." autofocus="true">
    </div>
    <div class="field">
      <label>Địa chỉ</label>
      <input type="text" name="school.address" placeholder="Ex: 262 Điện biên phủ ...">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>

