<div class="ui container" ng-controller="schoolController">
  <h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Danh sách trường học
  </h2>
  <table class="ui compact celled definition table">
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Tên trường</th>
        <th>Địa chỉ</th>
        <th>Ngày cập nhật</th>
      </tr>
    </thead>
    <tbody> 
        <tr ng-repeat="school in schools track by $index" ng-class="{disabled: school.disabled != undefined}">
          <td class="collapsing">
            <a ng-click="deleteSchool(school)" href="#"><i class="remove icon"></i></a>
          </td>
          <td>{{ $index + 1 }}</td>
          <td>{{ school.name }}</td>
          <td>{{ school.address }}</td>
          <td>{{ school.updatedAt }}</td>
        </tr>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="4">
          <a ui-sref=".addPopup"  class="ui right floated small primary labeled icon button">
            <i class="add icon"></i> Thêm trường
          </a>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
