<div class="ui container" ng-controller="schoolController" data-ng-init="initListSchool()">
  <h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Danh sách trường học
  </h2>
  <table class="ui compact celled definition table">
    <thead>
      <tr>
        <th></th>
        <th>Tên trường</th>
        <th>Địa chỉ</th>
        <th>Cập nhật</th>
      </tr>
    </thead>
    <tbody> 
        <tr ng-repeat="school in schools track by $index" ng-class="{disabled: school.disabled != undefined}">
          <td class="collapsing">
            <a title="Remove" ng-click="deleteSchool(school)" href="/#"><i class="remove icon"></i></a>
            <a title="Edit" href="/school/{{ school.id }}"><i class="edit icon"></i></a>
          </td>
          <td>{{ school.name }}</td>
          <td>{{ school.address }}</td>
          <td><span am-time-ago="school.updatedAt" title="{{ school.updatedAt }}"></span></td>
        </tr>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="3">
          <a href="/school/add" class="ui right floated small primary labeled icon button">
            <i class="add icon"></i> Thêm trường
          </a>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
